
module.exports={
  formatDate:function(stamp){
    console.log(stamp)
    var date=getDate(stamp);

    var Y = getDate(stamp).getFullYear();
    var M = convertTwo(date.getMonth()+1);
    var D = convertTwo(date.getDate());

    return Y+'-'+M+'-'+D
  }
}

function convertTwo(s){
  var ls='0'+s;
  return ls.slice(-2)
}